* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #135f85;
  --red: #f03a47;
  --mainWhite: #fff;
  --offWhite: #f6f4f3;
  --mainBlack: #08090a;
  --mainGrey: #c8d3d5;
  --darkGrey: #99a1a3;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --transparentBlue: rgba(82, 72, 156, 0.2);
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--transparentBlue);
  font-family: 'Orbitron', Verdana, sans-serif;
  line-height: 1.4;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Scrollbar Styling */
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: var(--primaryColor);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--red);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #af2b34;
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--red);
  background: transparent;
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--red);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
  border-color: (var(--primaryColor));
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--mainWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--red);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links li a {
  display: block;
  text-decoration: none;
  padding: 0.8rem 0;
  color: var(--primaryColor);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1.1rem;
  font-weight: 800;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--red);
}

.show-nav {
  height: 170px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}
/* end of navbar */
/* Hero */
.defaultHero,
.destinationsHero,
.aboutHero {
  overflow: hidden;
  min-height: calc(100vh - 66px);
  background: url('./images/ssvnormandy.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.destinationsHero {
  background-image: url('./images/relay.jpg');
  min-height: 70vh;
}
.aboutHero {
  background-image: url('./images/galaxy-map.jpg');
  min-height: 70vh;
}
#movBkg,
#movBackg {
  width: 100%;
  overflow-x: hidden;
  background-size: 120%;
  --x: 0;
  --y: 0;
  background-position: var(--x) var(--y);
  transition: background-position 0.8s;
}
/* End of Hero */
/* Banner */
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}
/* End of Banner */
/* Title */
.section-title {
  text-align: center;

  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--primaryColor);
}
/* end of Title */

/* services */

.services {
  padding: 2rem 0;
  background: var(--offWhite);
  text-align: center;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */
/* featured destination */

.featured-destinations {
  padding: 5rem 0;
}
.featured-destinations-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
@media screen and (min-width: 776px) {
  .featured-destination-center {
    width: 90vw;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  }
}
@media screen and (min-width: 992px) {
  .featured-destination-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end pf featured destination */
/* destination */
.destination {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.destination:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  height: 200px;
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: var(--mainSpacing);
}
.destination-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}
.img-container:hover .price-top {
  opacity: 0;
}
.img-container:hover .destination-link {
  transform: translate(-50%, -50%) scale(1);
}
.destination-info {
  background: var(--mainGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of destination  */
/* single destination*/

.single-destination {
  padding: 5rem 0 0 0;
}
.single-destination-images {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.single-destination-images img {
  width: 300px;
  height: 200px;
  display: block;
}
.single-destination-info {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr;
  margin: 2rem auto;
}
.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.desc p {
  line-height: 2.2;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}

.info h6 {
  font-weight: 300;
}
.destination-extras {
  width: 80vw;
  margin: 0 auto 3rem auto;
}
.destination-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
}
.advice {
  width: 100%;
  text-align: center;
}
.advice div {
  width: 50%;
  margin: 0 auto;
  padding: 1.5rem;
  border: solid var(--red) 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.advice p {
  padding: 2em 5em;
}
@media screen and (min-width: 992px) {
  .single-destination-images,
  .single-destination-info,
  .destination-extras {
    width: 95vw;
    max-width: 1170px;
  }
  .single-destination-images img {
    width: 250px;
  }
  .single-destination-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
  .info {
    padding-left: 3rem;
  }
}

/* end of single destination*/
/* destinationlist */
.destinationlist {
  padding: 5rem 0;
}
.destinationlist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .destinationlist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .destinationlist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of destinationlist */
/*  destination fitler*/
.filter-container {
  padding: 5rem 0;
}
.filter-form {
  width: 60vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 40px;
}
.form-group {
  text-transform: capitalize;
}
.form-group label {
  display: block;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 0.5rem;
}
.form-control {
  width: 100%;
  background: transparent;
  font-size: 1rem;
}
.size-inputs {
  display: flex;
}
.size-input {
  width: 40%;
  padding: 0.2rem;
  border: 1px solid var(--mainBlack);
  border-radius: 0.3rem;
  margin-right: 0.3rem;
}
.single-extra label {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
@media screen and (min-width: 776px) {
  .filter-form {
    width: 70vw;
  }
}
@media screen and (min-width: 992px) {
  .filter-form {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of destination fitler*/
/*Footer*/
footer {
  margin-top: 2rem;
}
.footer-distributed {
  background: var(--primaryColor);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px 50px 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

/* Footer links */
.footer-distributed ul {
  list-style-type: none;
  display: flex;
}
.footer-distributed .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--offWhite);
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  padding: 1em;
}

.footer-distributed .footer-company-name {
  color: var(--red);
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-icon {
  color: var(--red);
  font-size: 25px;
  width: 38px;
  height: 38px;

  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-contact-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-distributed .footer-center p {
  color: var(--offWhite);
  font-weight: 400;

  margin-top: 1em;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: var(--offWhite);
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: var(--mainGrey);
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  margin-top: 20px;
}

.footer-distributed h3 {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-icons {
  text-align: center;
  background: var(--primaryColor);
}

.footer-icons div {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.footer-distributed .footer-icons a {
  height: 35px;
  cursor: pointer;
  background-color: var(--primaryColor);
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
.footer-icons hr {
  width: 80%;
  border-color: var(--mainGrey);
  margin: 0 auto;
}

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
/* Developed by*/

.copyw #squear {
  width: 25px;
  height: 25px;
  color: var(--red);
  margin: 0 auto;
  position: fixed;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  left: 1%;
  bottom: 1%;
}

.copyw {
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 0em;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 999;
}
.copyw:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 4em;
}
.copyw #container {
  margin-top: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: var(--darkGrey);
}

#container h3 {
  color: var(--mainBlack);
  font-size: 12px;
  font-weight: 100;
  margin: 0;
  padding-top: 1.5em;
}
#container h3 span {
  color: var(--red);
}

/*end of footer*/
/*Media Queries*/
@media screen and (max-width: 576px) {
  .advice p {
    padding: 0;
    margin: 0;
  }
  .advice div {
    width: 100%;
  }

  #movBkg {
    width: 100%;
    overflow-x: hidden;
    min-height: 80vh;
    background: url('./images/galaxy-map.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #movBackg {
    width: 100%;
    overflow-x: hidden;
    min-height: 80vh;
    background: url('./images/ssvnormandy.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 992px) {
}
